@import './bootstrap';
@import './prism-theme.css';


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .vh-100#{$infix}   { height: 100vh !important; }
    .sticky-top#{$infix} {
      @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: $zindex-sticky;
      }
    }
    .small#{$infix} {
      @include font-size($small-font-size);
      font-weight: $font-weight-normal;
    }
  }
}

@each $color, $value in $my-colors {
  @include bg-variant(".bg-#{$color}", $value);
  @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  @include text-emphasis-variant(".text-#{$color}", $value);

  .border-#{$color} {
    border-color: $value !important;
  }

  .badge-#{$color} {
    @include badge-variant($value);
  }  
}

@each $size, $length in $spacers {
  .border-w-#{$size} {
    border-width: $length !important;
  }
}

aside {
  background: linear-gradient(150deg,#182848,#4B6CB7);
  p {
    color: #8692FF;
  }
  @include media-breakpoint-up(md) {
    width: 22rem;
    flex-shrink: 0;
  }
  @include media-breakpoint-up(lg) {
    width: 23rem;
    flex-shrink: 0;
  }
}

.border-dashed {
  border-style: dashed !important;
}
.border-dashed-top {
  border-top-style: dashed !important;
}

.social-icon {
  width: 30px;
  height: auto;
  fill: currentColor;
  @include media-breakpoint-up(sm) {
    width: 40px;
  }
  &.post {
    width: auto;
    height: 30px;
  }
}

.border-none {
  border: none !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.list-group-item {
  &.text-active {
    color: color("cyan") !important;
  }
  a {
    color: inherit;
  }
}

.nav-item {
  padding-left: 0;
  padding-right: 0;
}

.cursive {
  font-family: $font-family-cursive;
  letter-spacing: 1.23;
}

main {
  max-width: $spacer * 50;
  line-height: 1.5;
  @include media-breakpoint-up(lg) {
    max-width: $spacer * 60;
  }
  h1 {
    font-family: $font-family-cursive;
    color: $purple;
    font-weight: 700;
  }
  h3 {
    font-family: $font-family-cursive;
  }
  h2 {
    font-family: $font-family-cursive;
    color: $green;
    margin-bottom: 1.2 * $spacer;
    font-weight: 300;
  }
  ul {
    padding-left: $spacer * 1.2;
  }
  a {
    border-bottom: 2px solid #EFF3F6;
  }
}

.post-entry {
  margin-bottom: 1 * $spacer;
  background-color: #f2f5f7;
  padding: 1 * $spacer;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.tags {
  color: color('purpleLight');
}
.tag-meta {
  color: gray('500');
}
.tag-meta, .tags {
  font-size: $small-font-size;
  svg {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
    margin-right: 3px;
    height: 16px;
  }
}

.badge {
  padding: .3rem;
  font-weight: 400;
  background-color: unset;
  color: lighten(color('purpleLight'), 0);
  border: 1px solid lighten(color('purpleLight'), 0);;
  &:hover {
    color: color('purple');
    border: 1px solid color('purple');
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: $spacer; 
  &__item {
    padding: 1 * $spacer;
    background-color: #f2f5f7;
    // height: 200px;
    color: gray('600');
  }
}

.project__icon {
  width: 20px;
  height: auto;
  fill: currentColor;
  &.post {
    width: auto;
    height: 20px;
  }
  @include media-breakpoint-up(sm) {
    width: 30px;
  }
}

.notes {
  h2 {
    color: color('orange');
  }
}

nav {
  overflow: scroll;
}

.single-post {
  color: #212121;
  line-height: 1.75;
  li {
    margin: 0.75rem 0;
  }
  img, twitter-widget {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  img {
    border: 1px solid #e1e2e4;
  }
  h1 {
    margin-top: 2 * $spacer;
    margin-bottom: 1.5 * $spacer;
    font-size: $h4-font-size;
    border-bottom: 2px solid #EFF3F6;
    font-family: 'Roboto', $font-family-sans-serif;
    color: gray('700');
  }
  h2 {
    margin-top: 1.75 * $spacer;
    margin-bottom: 1.25 * $spacer;
    font-size: $h5-font-size;
    font-family: 'Roboto', $font-family-sans-serif;
    color: gray('700');
    border-bottom: 2px solid #EFF3F6;
  }
}
