<html>
  <head>

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:type" content="website" />

    
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Averia+Libre:300,400,700|Noto+Sans:400,400i,700" rel="stylesheet">
    <link href="{{ assets.css }}" rel="stylesheet"></head>
  </head>
  <body class="d-flex flex-column flex-md-row">
    {% include "components/sidebar.njk" %}
    <main class="px-2 px-sm-3 px-md-4 px-lg-7 px-xl-10 py-5 py-md-7 w-100">
    {{ content | safe }}
    </main>
    <script type="text/javascript" src="{{ assets.js }}"></script></body>
  </body>
</html>
