---
layout: layouts/base.njk
---
{% import "macros.njk" as macros with context %}

<h1>Blog</h1>
<div class="posts">
  {%- for post in collections.post -%}
  {{ macros.entry(post.data.title, post.date, post.url, post.template.inputContent, post.data.tags) }}
  {%- endfor -%}
</div>
